.elements {
  max-width: 880px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 21px;
}
