.element {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.element__image {
  width: 100%;
}

.element__group {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 31px 21px;
}

.element__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__button-like {
  max-width: 21px;
  width: 100%;
}

.element__button-like:hover {
  opacity: 60%;
  cursor: pointer;
}
