.header {
  max-width: 880px;
  width: 100%;
  margin: auto;
}

.header__icon {
  width: 173px;
  height: 60px;
  max-width: 100%;
  margin-bottom: 31px;
  margin-top: 45px;
  object-fit: cover;
}

.header__line {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 95%;
  }
}

@media screen and (max-width: 580px) {
  .header__icon {
    width: 126px;
    margin-bottom: 32px;
  }
}
