.profile {
  width: 880px;
  max-width: 100%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.profile__avatar {
  max-width: 120px;
  width: 100%;
}

.profile__content {
  max-width: 415px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile__name {
  max-width: 373px;
  width: 100%;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3rem;
}

.profile__button-edit {
  max-width: 24px;
  width: 100%;
}

.profile__button-edit:hover {
  opacity: 60%;
}

.profile__explorer {
  max-width: 415px;
  width: 100%;
  font-weight: 400px;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.profile__button-add {
  max-width: 150px;
  width: 100%;
}

.profile__button-add:hover {
  opacity: 60%;
}

@media screen and (max-width: 960px) {
  .profile {
    width: 95%;
  }
}
