.profile {
  max-width: 880px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 168px auto 150px;
}

.profile__content-avatar {
  max-width: 168px;
  max-height: 120px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.profile__avatar {
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
}

.profile__content-edit {
  max-width: 415px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile__name {
  max-width: 373px;
  width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  display: block;
}

.profile__button-edit {
  max-width: 24px;
  width: 100%;
}

.profile__button-edit:hover {
  opacity: 60%;
}

.profile__explorer {
  max-width: 415px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 18px;
}

.profile__button-add {
  width: 100%;
  margin: auto 0;

}

.profile__button-add:hover {
  opacity: 60%;
}

@media screen and (max-width: 1024px) {
  .profile {
    width: 95%;
  }
}

@media screen and (max-width: 790px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile__button-add {
  margin-top: 36px;
  height: 50px;
}

@media screen and (max-width: 540px) {
}
